<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <br><br><br>

<h1> First Calculator App</h1>

 <input type="number" [(ngModel)]="getNumber" class="form-control">
 <br>
 <p>{{printValue}}</p>
 <button (click)="onAddition()" class="btn btn-outline-primary"><strong> + </strong></button>
 <button (click)="onSubtraction()" class="btn btn-outline-primary"><strong> - </strong></button>
 <button (click)="onMultiplication()" class="btn btn-outline-primary"><strong>*</strong></button> 
 <button (click)="onDivisionn()" class="btn btn-outline-primary"><strong>/</strong></button> 
 <button (click)="onEquals()" class="btn btn-outline-primary"> <strong>=</strong></button>
 
</div>
</div>
</div>
<br><br><br>